body{
  margin: 0;
}
.content {
  display: grid;
  grid-template-columns: 0.8fr 1.2fr;
}

main > div {
  display: flex;
  place-content: center;
}

main > div > figure {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
}

.ilustration {
  width: 30vw;
}

section {
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  background-color: var(--input-bg);
}
#password{
   width: 100%;
}
#confirm-password{
   width: 100%;
}
form {
  width: 75%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 2rem;
  border-radius: 15px;
}
@media (max-width: 768px) {
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h2{
    margin-right: 30px;
  }
  img{
    width: 300px;
  }
  main > div {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  main > div > figure {
    flex-direction: column;
    height: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .ilustration {
    width: 60vw;
  }

  section {
    width: 90%;
    padding: 1rem;
    margin-top: 20px;
  }

  form {
    width: 100%;
    padding: 1rem;
  }

  .inline-group {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  .button {
    width: 100%;
  }
  #password{
   width: 100%;
  }
  #confirm-password{
   width: 100%;
  }
}
