@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

#conteudo {
  margin: 20px 30px 30px 30px;
  line-height: 1.6;
}

#conteudo h1 {
  margin-bottom: 15px;
}

#conteudo .subtitulo {
  margin-top: 20px;
  margin-bottom: 10px;
}

#conteudo p {
  margin-bottom: 10px;
}

#conteudo ul {
  margin-left: 35px;
  padding-left: 0;
  gap: 5px;
}
