@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  border-bottom: 1px solid #ddd;
}

.logo {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.2;
}

.menu a {
  margin-left: 20px;
  font-weight: 500;
  color: var(--body-text);
  gap: 40px;
}
.menu{
    margin-right: 30px;
}

.botao-cadastrar {
  font-weight: bold;
}
.principal {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 30px;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(200, 219, 227, 1);
}

.texto-principal {
  flex: 1;
  max-width: 500px;
}

.texto-principal h1 {
  font-size: 32px;
  margin-bottom: 15px;
}

.texto-principal p {
  font-size: 16px;
  margin-bottom: 25px;
}

.botao {
  padding: 10px 20px;
  background-color: #0d1d25;
  color: white;
  border-radius: 6px;
}

.imagem-principal img {
  max-width: 400px;
  height: auto;
  width: 90%;
}

.recursos {
  padding: 4ch 20px;
}

.recursos h2 {
  font-size: 24px;
  margin-bottom: 30px;
}

.caixas {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 20px;
}

.caixa {
  background-color: #ffffff;
  border: 2px solid #000000;
  padding: 20px;
  border-radius: 12px;
  display: flex;
  font-weight: bold;
}


.caixa.escura {
  background-color: rgba(6, 36, 47, 1);
  color: #ffffff;
  border: none;
}

.caixa img {
  width: 60px;
  height: 70px;
  margin-top: 60px;
  margin-right: 3px;
  
}

.depoimentos {
  padding: 60px 40px;
  background: linear-gradient(to right, #0b4a6f, #2d91c2);
  color: white;
  text-align: center;
  margin-bottom: 30px;
}

.depoimentos h2 {
  font-size: 24px;
  margin-bottom: 15px;
}

.descricao {
  font-size: 16px;
  margin-bottom: 30px;
}

.area-depoimentos {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.comentario {
  background-color: white;
  color: #000;
  border-radius: 10px;
  padding: 20px;
  max-width: 300px;
  text-align: left;
  margin-top: 20px;
}

.chamada {
  background-color: #eaf4f7;
  height: 220px;
  margin-bottom: 70px
}

.conteudo-chamada {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 40px 20px;
}

.conteudo-chamada img {
  width: 200px;
  margin-left: 50px;
}

.rodape {
  background-color: #000000;
  color: white;
  padding: 30px 40px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}
.title_chamada{
  font-size: 30px; 
  text-align: left;
  margin-left: 5px;
}

.rodape p {
  margin-bottom: 10px;
  text-align: left;
  margin-right: 20px;
}
@media (max-width: 768px) {
  .logo{
    margin-bottom: 10px;
  }
  .cabecalho{
    display:contents;
  }
  h2{
    margin-left: 12px;
  }
  .menu{
    display:block; 
    margin-bottom: 10px;

  }
  .principal{
   height: 800px;
  }
  .title_chamada{
    font-size: medium;
    margin-left: 10px;
  }
  .chamada{
    height: 300px;
  }
}